### CLion ###
.idea/
cmake-build-*/

### Project ###
*.cbp
CMakeCache.txt
CMakeFiles/
Testing/
cmake_install.cmake
cmake_uninstall.cmake
config.h
install_manifest.txt
krane
ktech
test/output/

**/Makefile
build/**
deps/**
local/**

*.a
*.dll
*.exe
*.o
*.so

*.tar.gz
*.zip
releases/
releases/*
