### CLion ###
.idea/
cmake-build-*/

### Project ###
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
cmake_uninstall.cmake

**/Makefile
build/**
deps/**
local/**

*.a
*.dll
*.exe
*.o
*.so

*.tar.gz
*.zip
releases/
releases/*

test/output/
